.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 400px;
  margin-inline: auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 100%;
}
