.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 400px;
  margin-inline: auto;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 28px;
  inline-size: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 100%;
}

.typeButton {
  display: flex;
  justify-content: start;
}
